@font-face {
    font-family: 'Open Sans Light';
    src: url("fonts/Open_Sans/OpenSans-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url("fonts/Roboto/Roboto-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url("fonts/Roboto/Roboto-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url("fonts/Roboto/Roboto-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
}

.container {
    width: 1170px !important;
}

.header {
    min-height: 400px;
    background: url("../img/bottom-layer.png") no-repeat center bottom;
    background-size: 100% auto;
    color: #ffffff;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -ms-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
    transition: all ease 0.8s;
    position: relative;
}

.header.home {
    height: 510px; /* 815px; namhc1990 */
}

.header.home .countdown-section {
    -webkit-transform: translate(0, 10%);
    -moz-transform: translate(0, 10%);
    -ms-transform: translate(0, 10%);
    -o-transform: translate(0, 10%);
    transform: translate(0, 10%);
}

body.bg-blue .header {
    background-color: #175589;
}

body.bg-green .header {
    background-color: #406718;
}

body.bg-red .header {
    background-color: #8f0302;
}

.main-section {
    background-color: #eef8fe;
}

.countdown-section {
    position: relative;
    z-index: 20;
    display: inline-block;
    width: 100%;
}

.countdown-title {
    font-family: 'Open Sans Light';
    font-size: 40px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.73);
    display: block;
    margin: 34px 0;
}

.countdown > .item {
    display: inline-block;
    font-family: 'Roboto Bold';
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.73);
    margin: 0 2px;
}

.countdown > .item > strong {
    display: block;
    font-size: 90px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0 30px;
}

.countdown > .item > span {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 10px;
    display: block;
}

.config {
    position: absolute;
    background-color: #eeeeee;
    -webkit-border-radius: 0 0 8px 0;
    -moz-border-radius: 0 0 8px 0;
    border-radius: 0 0 8px 0;
    width: 366px;
    min-height: 200px;
    z-index: 1000;
    -webkit-transition: transform ease 0.5s;
    -moz-transition: transform ease 0.5s;
    -ms-transition: transform ease 0.5s;
    -o-transition: transform ease 0.5s;
    transition: transform ease 0.5s;
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
    font-size: 16px;
}

.config.on {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.toggle-state {
    position: absolute;
    background-color: #eeeeee;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    bottom: -40px;
    left: 0;
    font-family: 'Roboto Bold';
    color: #333333;
    cursor: pointer;
    font-size: 22px;
}

.toggle-state > span.toggle {
    display: inline-block;
    width: 57px;
    height: 21px;
    position: relative;
    float: left;
    margin: 9px 10px 0 0;
}

.toggle-state > span.toggle:before,
.toggle-state > span.toggle:after {
    background: url("../img/toggle.png") repeat-x 0 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: opacity ease 1s;
    -moz-transition: opacity ease 1s;
    -ms-transition: opacity ease 1s;
    -o-transition: opacity ease 1s;
    transition: opacity ease 1s;
    color: #ffffff;
    line-height: 19px !important;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 16px;
}

.toggle-state > span.toggle:before {
    content: 'OFF';
    background-position: 0 -21px;
    border: 1px #1c1c1c solid;
    padding-left: 20px;
}

.toggle-state > span.toggle:after {
    content: 'ON';
    opacity: 0;
    border: 1px #0095c6 solid;
    padding-left: 10px;
}

.toggle-state > span.toggle > i {
    width: 21px;
    height: 21px;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../img/switch.png") no-repeat 0 0;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
    z-index: 100;
}

.config.on > .toggle-state > span.toggle > i {
    left: 36px;
    border-color: #0095c6;
}

.config.on > .toggle-state > span.toggle:before {
    opacity: 0;
}

.config.on > .toggle-state > span.toggle:after {
    opacity: 1;
}

.config-items {
    padding: 15px;
    color: #333;
}

.config-items .form-group {
    display: inline-block;
    width: 100%;
}

.config-items .form-group > label {
    display: inline-block;
    width: 134px;
    float: left;
    margin-top: 6px;
    font-family: 'Roboto Bold';
}

.config-items .form-group > .form-control {
    width: 197px;
    float: right;
    font-family: 'Open Sans Light';
}

.config-items .form-group:last-child {
    margin-bottom: 0;
}

.snow-panel {
    position: fixed !important;
    z-index: 1 !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.body-content {
    z-index: 20;
    position: relative;
}

.footer {
    background-color: #175589;
    padding: 15px;
    color: #ffffff;
    font-family: 'Roboto Regular';
    font-size: 14px;
    text-align: center;
}

.card {
    background-color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 2px 4px -2px #222;
    -moz-box-shadow: 0 2px 4px -2px #222;
    box-shadow: 0 2px 4px -2px #222;
}

.card-img {
    position: relative;
    width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    height: 0;
    padding-top: 70%;
    display: inline-block;
}

.card-img > img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    margin: auto;
    height: 100%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.card-img.no-border-radius {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.card-body > .intro {
    padding: 0 10px;
    min-height: 146px;
}

.card-body > .intro > h2 {
    font-family: 'Roboto Bold';
    font-size: 16px;
}
.card-body > .intro > h3 { /*namhc1990*/
    font-family: 'Roboto Bold';
    font-size: 16px;
}

.card-body > .intro a {
    display: inline-block;
    width: 100%;
    color: #333;
}

.read-more a {
    color: #009ee7 !important;
}

.card-body > .intro > p {
    font-family: 'Roboto Light';
    font-size: 14px;
}

.btn-view-all {
    font-family: 'Roboto Light';
    font-size: 14px;
    color: #FFFFFF;
    background-color: #0ab7ef;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 10px 50px;
    margin: 20px 0 40px 0;
    display: inline-block;
}

.featured-article {
    background-color: #ffffff;
    margin-bottom: 20px;
}

.featured-article > h3 {
    background-color: #0085df;
    color: #ffffff;
    font-family: 'Roboto Bold';
    text-transform: uppercase;
    padding: 10px;
    font-size: 18px;
    font-weight: normal;
}

.list-img {
    width: 100px;
    margin-right: 10px;
}

.article-list {
    min-height: 200px;
}

.article-list > ul {
    list-style: none;
    margin: 0;
    padding: 0 14px;
    font-family: 'Roboto Regular';
}

.article-list > ul > li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px #d2f6ff solid;
    padding: 10px 0;
}

.article-list > ul > li h3 {
    font-size: 14px;
    margin-top: 0;
}

.article-list .read-more > a {
    color: #009ee7;
    font-size: 14px;
    font-family: 'Roboto Regular';
    margin: 14px;
    display: inline-block;
}

.main-content {
    padding-bottom: 40px;
}

.page-title {
    font-size: 24px;
    font-family: 'Roboto Bold';
    color: #0085df;
}

.content-pre,
.content-intro {
    font-family: 'Roboto Regular';
    font-size: 15px;
    color: #555555;
}

.content-intro {
    margin-bottom: 20px;
    font-style: italic;
}

.addthis {
    padding: 10px;
    background-color: #ffffff;
    margin: 30px 0;
    margin: 30px 0;
}

.main-title {
    font-family: 'Roboto Bold';
    font-size: 40px;
    color: #175589;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 30px;
}

.ads-list {
    margin-bottom: 25px;
}

.pagination > li > a,
.pagination > li > span {
    margin: 0 5px;
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    border-radius: 100% !important;
}

.pagination > li.active > a,
.pagination > li.active > span {
    background-color: #0085df;
    color: #ffffff;
    border-color: #0085df;
}

.btn-go-home {
    position: absolute;
    display: inline-block;
    color: #175589;
    font-family: 'Roboto Bold';
    font-size: 16px;
    left: 0;
    height: 40px;
    padding: 10px 15px;
    bottom: -40px;
    background-color: #eeeeee;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    text-transform: uppercase;
}

.top-right {
    padding: 15px 0;
}

.top-ads {
    display: inline-block;
    float: left;
}

.social {
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.social > a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../img/social.png") no-repeat;
}

.social > a.icon-fb {
    background-position: 0 0;
}

.social > a.icon-tw {
    background-position: 0 -36px;
}

.social > a.icon-tu {
    background-position: 0 -73px;
}

.social > a.icon-pr {
    background-position: 0 -110px;
}

.social > a.icon-rd {
    background-position: 0 -147px;
}

.social > a.icon-gg {
    background-position: 0 -185px;
}

.header > .container {
    position: relative;
}

.home-ads {
    position: absolute;
}

.home-ads.ads-left,
.home-ads.ads-right{
    width: 300px;
    height: 250px;
}

.ads-bottom,
.ads-list{
/*    width: 728px;*/
/*    height: 90px;*/
}

.home-ads.ads-left {
    top: 215px;
    left: /*-100px;*/ -150px;
}

.home-ads.ads-right {
    top: 215px;
    right: /*-100px;*/ -285px;
}

.home-ads.ads-bottom {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    bottom: -280px;
}

.content-pre table td {
    padding: 10px;
}

.content-pre img {
    max-width: 100%;
}
.top-ads {
    width: 536px;
    height: 15px;
}
.card-body {
    line-height: 1.3;
}